Repository intel/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

.ci/pipeline/docs.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

rename variable and add oneDAL version control
  daal4py/sklearn/_utils.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Due: .ci/pipeline/ci.yml

Adjust requirements-dev.txt filename
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/docs.yml
  .ci/pipeline/nightly.yml
  .github/workflows/dependabot-validate.yml
  dependencies-dev
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change requirements-dev.txt filename (#1290)
  .ci/pipeline/build-and-test-lnx.yml
  .ci/pipeline/build-and-test-mac.yml
  .ci/pipeline/build-and-test-win.yml
  .ci/pipeline/docs.yml
  .ci/pipeline/nightly.yml
  .github/workflows/dependabot-validate.yml
  dependencies-dev
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update method name in dispatching
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Due: .ci/pipeline/ci.yml

Force 'p' assignment for oneDAL dispatching branch
  sklearnex/neighbors/common.py
Due: .ci/pipeline/ci.yml

Update deselected tests with aliased test names
  deselected_tests.yaml
Due: .ci/pipeline/ci.yml

Fix n_samples check in linear
  sklearnex/preview/linear_model/linear.py
Due: .ci/pipeline/ci.yml

Fixes for knn metric
  sklearnex/_device_offload.py
  sklearnex/neighbors/common.py
Due: .ci/pipeline/ci.yml

Modify 'p' assignment
  sklearnex/neighbors/common.py
Due: .ci/pipeline/ci.yml

Update verbose mode in kNN
  daal4py/sklearn/_utils.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
Due: .ci/pipeline/ci.yml

Update verbose mode - draft
  daal4py/sklearn/_utils.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/manifold/_t_sne.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/neighbors/lof.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Due: .ci/pipeline/ci.yml

Update docs
  doc/sources/verbose.rst
Due: .ci/pipeline/docs.yml

Update ONEDAL version
  onedal/dal.cpp
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Due: .ci/pipeline/ci.yml

Fix sparse input check for linear
  sklearnex/preview/linear_model/linear.py
Due: .ci/pipeline/ci.yml

Add comments
  onedal/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

[Issue: #327] Enable parallel build on C++ extensions and docs update (#1265)
  INSTALL.md
  doc/sources/system-requirements.rst
  setup.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update verbose mode example
  examples/sklearnex/verbose_mode.py
Due: .ci/pipeline/ci.yml

Update system requirements
  INSTALL.md
  doc/sources/system-requirements.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update doc/sources/verbose.rst
  doc/sources/verbose.rst
Due: .ci/pipeline/docs.yml

Verbose mode update (#1288)
  daal4py/sklearn/_utils.py
  daal4py/sklearn/cluster/_k_means_0_23.py
  daal4py/sklearn/manifold/_t_sne.py
  deselected_tests.yaml
  doc/sources/verbose.rst
  examples/sklearnex/verbose_mode.py
  sklearnex/_device_offload.py
  sklearnex/_utils.py
  sklearnex/neighbors/common.py
  sklearnex/neighbors/knn_classification.py
  sklearnex/neighbors/knn_regression.py
  sklearnex/neighbors/knn_unsupervised.py
  sklearnex/neighbors/lof.py
  sklearnex/preview/decomposition/pca.py
  sklearnex/preview/ensemble/forest.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/svm/_common.py
  sklearnex/svm/nusvc.py
  sklearnex/svm/nusvr.py
  sklearnex/svm/svc.py
  sklearnex/svm/svr.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update system requirements (#1293)
  INSTALL.md
  doc/sources/system-requirements.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update version
  onedal/__init__.py
  onedal/dal.cpp
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Update comments, fix naming
  onedal/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

disabling dependabot updates
  .github/dependabot.yml
Due: .ci/pipeline/ci.yml

disabling dependabot updates (#1298)
  .github/dependabot.yml
Due: .ci/pipeline/ci.yml

Fix ifdef condition, update tests
  onedal/dal.cpp
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Due: .ci/pipeline/ci.yml

Fix for scan warning in kNN dispatching
  sklearnex/neighbors/common.py
Due: .ci/pipeline/ci.yml

Add sklearn version check
  onedal/objective_function/tests/test_objective_function.py
  setup.py
Due: .ci/pipeline/ci.yml

compatibility with older versions of oneDAL
  daal4py/sklearn/_utils.py
  src/gbt_model_builder.h
  src/gbt_model_builder.pyx
Due: .ci/pipeline/ci.yml

Update deselected_tests.yaml
  deselected_tests.yaml
Due: .ci/pipeline/ci.yml

Integrate logloss primitive to LogisticRegression
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

Move objective_function to preview section
  setup_sklearnex.py
  sklearnex/dispatcher.py
  sklearnex/preview/__init__.py
  sklearnex/preview/objective_function/__init__.py
  sklearnex/preview/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

Update forest.py
  sklearnex/ensemble/forest.py
Due: .ci/pipeline/ci.yml

Code format
  sklearnex/preview/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

switch to hist
  onedal/ensemble/forest.py
Due: .ci/pipeline/ci.yml

Change oneDAL version check
  sklearnex/ensemble/forest.py
Due: .ci/pipeline/ci.yml

PEP8 changes
  onedal/ensemble/__init__.py
  sklearnex/dispatcher.py
  sklearnex/ensemble/forest.py
Due: .ci/pipeline/ci.yml

PEP8 changes cont.
  sklearnex/ensemble/__init__.py
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml
