Repository intel/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

.ci/pipeline/docs.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

group doc packages
  .github/renovate.json
Due: .ci/pipeline/ci.yml

add config validation
  .github/workflows/renovate-validation.yml
Due: .ci/pipeline/ci.yml

Group doc updates in renovate (#1255)
  .github/renovate.json
  .github/workflows/renovate-validation.yml
Due: .ci/pipeline/ci.yml

[Issue: #327] Enable parallel build on C++ extensions and update docs
  INSTALL.md
  doc/sources/system-requirements.rst
  setup.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update system-requirements.rst
  doc/sources/system-requirements.rst
Due: .ci/pipeline/docs.yml

Update INSTALL.md
  INSTALL.md
Due: .ci/pipeline/ci.yml

Add binding (fails with ImportError)
  onedal/__init__.py
  onedal/dal.cpp
  onedal/objective_function/__init__.py
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_logloss.py
  setup.py
  setup_sklearnex.py
Due: .ci/pipeline/ci.yml

support missing values in lgbm
  src/gbt_convertors.pyx
Due: .ci/pipeline/ci.yml

fixing lgbm modelbuilder for missing values and catboost support
  src/gbt_convertors.pyx
Due: .ci/pipeline/ci.yml

Add objective function interface
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_logloss.py
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Update SET_NPY_FEATURE
  onedal/datatypes/numpy_helpers.hpp
Due: .ci/pipeline/ci.yml

Code format
  onedal/objective_function/__init__.py
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Add note for offloading behavior
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update doc/sources/oneapi-gpu.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Correction
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Add note for offloading behavior (#1275)
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/docs.yml

Update requirements-doc.txt
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

Update requirements-doc.txt (#1279)
  requirements-doc.txt
Due: .ci/pipeline/docs.yml

minor docs revisions, no updates to cpu/gpu section
  doc/sources/guide/acceleration.rst
  doc/sources/kaggle/automl.rst
  doc/sources/kaggle/classification.rst
  doc/sources/what-is-patching.rst
Due: .ci/pipeline/docs.yml

minor docs revisions, no updates to cpu/gpu section (#1280)
  doc/sources/guide/acceleration.rst
  doc/sources/kaggle/automl.rst
  doc/sources/kaggle/classification.rst
  doc/sources/what-is-patching.rst
Due: .ci/pipeline/docs.yml

Allign to LinearModelLoss interface, add tests
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Minor interface update
  onedal/objective_function/objective_function.cpp
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Add sklearnex interface
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

Add gradient_hessian_product functions, regularization computation and finalize tests
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
  sklearnex/objective_function/__init__.py
Due: .ci/pipeline/ci.yml

Code format
  onedal/objective_function/objective_function.py
  onedal/objective_function/tests/test_objective_function.py
Due: .ci/pipeline/ci.yml

Remove objective_function folder from sklearnex
  setup_sklearnex.py
  sklearnex/objective_function/__init__.py
  sklearnex/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

Code format
  onedal/objective_function/objective_function.py
Due: .ci/pipeline/ci.yml

trying pybind version revert
  requirements-dev.txt
Due: .ci/pipeline/ci.yml

Revert pybind version to 2.10.1 (#1289)
  requirements-dev.txt
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml
