Repository intel/scikit-learn-intelex: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

.ci/pipeline/docs.yml:
  jobs:
  - job: PEP8
    pool:
      vmImage: ubuntu-22.04
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.9'
        addToPath: true
    - script: 'python -m pip install --upgrade pip setuptools
  
        pip install flake8
  
  ...

DEP: deprecate dpctx using in examples
  examples/daal4py/sycl/bf_knn_classification_batch.py
  examples/daal4py/sycl/covariance_batch.py
  examples/daal4py/sycl/covariance_streaming.py
  examples/daal4py/sycl/dbscan_batch.py
  examples/daal4py/sycl/decision_forest_classification_batch.py
  examples/daal4py/sycl/decision_forest_classification_hist_batch.py
  examples/daal4py/sycl/decision_forest_regression_batch.py
  examples/daal4py/sycl/decision_forest_regression_hist_batch.py
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
  examples/daal4py/sycl/kmeans_batch.py
  examples/daal4py/sycl/linear_regression_batch.py
  examples/daal4py/sycl/log_reg_binary_dense_batch.py
  examples/daal4py/sycl/log_reg_dense_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/low_order_moms_streaming.py
  examples/daal4py/sycl/pca_batch.py
  examples/daal4py/sycl/pca_transform_batch.py
  examples/daal4py/sycl/svm_batch.py
Due: .ci/pipeline/ci.yml

PEP8 alignment
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
Due: .ci/pipeline/ci.yml

feat: Provide averages binning to improve RF accuracy for some datasets (#1301)
  .ci/pipeline/ci.yml
  .ci/pipeline/docs.yml
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/ensemble/tests/test_decision_forest.py
  pyproject.toml
  setup.cfg
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply suggestions from code review
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
Due: .ci/pipeline/docs.yml

Adressing comments
  doc/daal4py/contents.rst
Due: .ci/pipeline/docs.yml

Documentation update - daal4py, model builders (#1314)
  doc/daal4py/contents.rst
  doc/daal4py/examples.rst
  doc/daal4py/index.rst
  doc/daal4py/model-builders.rst
  examples/daal4py/df_cls_dense_batch_model_builder.py
  examples/daal4py/df_cls_traversed_model_builder.py
  examples/daal4py/gbt_cls_traversed_model_builder.py
  examples/daal4py/gbt_reg_traversed_model_builder.py
  examples/daal4py/lin_reg_model_builder.py
  examples/daal4py/svm_multi_class_model_builder.py
  examples/daal4py/svm_two_class_model_builder.py
  setup.py
  setup_sklearnex.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add sklearn 1.3 constraints to roc_auc_score and train_test_split; Rename patched functions
  daal4py/sklearn/metrics/__init__.py
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/__init__.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/utils/__init__.py
  daal4py/sklearn/utils/validation.py
  onedal/datatypes/validation.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
  sklearnex/model_selection/split.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/utils/__init__.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/ci.yml

Apply PEP8
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/utils/validation.py
Due: .ci/pipeline/ci.yml

Fix for max_samples in forest
  daal4py/sklearn/ensemble/_forest.py
  onedal/ensemble/forest.py
Due: .ci/pipeline/ci.yml

DEP: deprecate `dpctx` using in examples (#1315)
  examples/daal4py/sycl/bf_knn_classification_batch.py
  examples/daal4py/sycl/covariance_batch.py
  examples/daal4py/sycl/covariance_streaming.py
  examples/daal4py/sycl/dbscan_batch.py
  examples/daal4py/sycl/decision_forest_classification_batch.py
  examples/daal4py/sycl/decision_forest_classification_hist_batch.py
  examples/daal4py/sycl/decision_forest_regression_batch.py
  examples/daal4py/sycl/decision_forest_regression_hist_batch.py
  examples/daal4py/sycl/gradient_boosted_regression_batch.py
  examples/daal4py/sycl/kmeans_batch.py
  examples/daal4py/sycl/linear_regression_batch.py
  examples/daal4py/sycl/log_reg_binary_dense_batch.py
  examples/daal4py/sycl/log_reg_dense_batch.py
  examples/daal4py/sycl/low_order_moms_dense_batch.py
  examples/daal4py/sycl/low_order_moms_streaming.py
  examples/daal4py/sycl/pca_batch.py
  examples/daal4py/sycl/pca_transform_batch.py
  examples/daal4py/sycl/svm_batch.py
Due: .ci/pipeline/ci.yml

Add constraints and rename patched sklearn functions (#1318)
  daal4py/sklearn/ensemble/_forest.py
  daal4py/sklearn/metrics/__init__.py
  daal4py/sklearn/metrics/_pairwise.py
  daal4py/sklearn/metrics/_ranking.py
  daal4py/sklearn/model_selection/__init__.py
  daal4py/sklearn/model_selection/_split.py
  daal4py/sklearn/model_selection/tests/test_split.py
  daal4py/sklearn/monkeypatch/dispatcher.py
  daal4py/sklearn/utils/__init__.py
  daal4py/sklearn/utils/validation.py
  onedal/datatypes/validation.py
  onedal/ensemble/forest.py
  sklearnex/metrics/pairwise.py
  sklearnex/metrics/ranking.py
  sklearnex/model_selection/split.py
  sklearnex/preview/linear_model/linear.py
  sklearnex/tests/test_memory_usage.py
  sklearnex/utils/__init__.py
  sklearnex/utils/validation.py
Due: .ci/pipeline/ci.yml

dpctl has_gpu_devices function call (#1307)
  examples/daal4py/sycl/sklearn_sycl.py
Due: .ci/pipeline/ci.yml

doc: Add docs for RF binning
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

doc: Add docs for RF binning (#1319)
  doc/sources/guide/acceleration.rst
Due: .ci/pipeline/docs.yml

initial
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Due: .ci/pipeline/ci.yml

linting
  src/gbt_model_builder.pyx
Due: .ci/pipeline/ci.yml

deselecting all forest oobs
  deselected_tests.yaml
Due: .ci/pipeline/ci.yml

test_search_cv updates
  deselected_tests.yaml
Due: .ci/pipeline/ci.yml

Renovate update on docs grouping
  .github/renovate.json
Due: .ci/pipeline/ci.yml

align doc format
  doc/sources/acceleration.rst
  doc/sources/conf.py
  doc/sources/gsg.rst
  doc/sources/index.rst
  doc/sources/license.rst
  doc/sources/releases.rst
  doc/sources/samples.rst
  doc/sources/what-is-patching.rst
Due: .ci/pipeline/docs.yml

Renovate update on docs grouping (#1322)
  .github/renovate.json
Due: .ci/pipeline/ci.yml

Updating config to match service expecations
  .github/renovate.json
Due: .ci/pipeline/ci.yml

make API sklearn-like
  daal4py/sklearn/ensemble/GBTDAAL.py
  src/gbt_convertors.pyx
  src/gbt_model_builder.pyx
Due: .ci/pipeline/ci.yml

Update IDZ links
  INSTALL.md
  README.md
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update IDZ URLs
  INSTALL.md
  README.md
  doc/sources/installation.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update obsolete URLs
  daal4py/sklearn/tree/decision_tree.py
Due: .ci/pipeline/ci.yml

doc: IDZ links update (#1325)
  INSTALL.md
  README.md
  daal4py/sklearn/tree/decision_tree.py
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix PR-1323-1
  doc/sources/index.rst
  doc/sources/license.rst
  doc/sources/releases.rst
Due: .ci/pipeline/docs.yml

fixes for classification cases
  daal4py/sklearn/ensemble/GBTDAAL.py
Due: .ci/pipeline/ci.yml

Updating config to match service expecations (#1324)
  .github/renovate.json
Due: .ci/pipeline/ci.yml

bug fixes
  daal4py/sklearn/ensemble/GBTDAAL.py
  daal4py/sklearn/ensemble/__init__.py
Due: .ci/pipeline/ci.yml

pep8
  daal4py/sklearn/ensemble/GBTDAAL.py
Due: .ci/pipeline/ci.yml

Fix Doc build
  daal4py/sklearn/tree/decision_tree.py
Due: .ci/pipeline/ci.yml

doc: IDZ URLs update (#1325) (#1327)
  INSTALL.md
  README.md
  daal4py/sklearn/tree/decision_tree.py
  doc/sources/installation.rst
  doc/sources/oneapi-gpu.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix Doc build after URLs update
  daal4py/sklearn/tree/decision_tree.py
Due: .ci/pipeline/ci.yml

Fix Doc build after URLs update (#1328)
  daal4py/sklearn/tree/decision_tree.py
Due: .ci/pipeline/ci.yml

initial
  tests/test_estimators.py
Due: .ci/pipeline/ci.yml

pep8
  tests/test_estimators.py
Due: .ci/pipeline/ci.yml

Fix PR-1323-2
  doc/sources/conf.py
  doc/sources/index.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: requirements-doc.txt, doc, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: requirements-doc.txt, doc, .ci/pipeline/docs.yml
